.container {
  background-image: url("/assets/images/Layer19.png");
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-color: #000;
  align-content: center;
  justify-content: center;
}
