<div class="container align-center">
  <form class="contact-form">
    <div class="ui-g">
      <div class="ui-g-8 ui-g-offset-2">
        <div class="contact-form-header">
          <span>Convinced To Work With Us?</span>
        </div>
        <div class="contact-form-header">
          <span
            >Company has helped agencies keep their promises to clients since
            2005.</span
          >
        </div>
      </div>
      <div class="ui-md-8 ui-md-offset-2 ui-sm-12">
        <div class="ui-g-4 ui-sm-12">
          <input class="form-input" type="text" placeholder="Fullname" />
        </div>
        <div class="ui-g-4 ui-sm-12">
          <input class="form-input" type="email" placeholder="Email Address" />
        </div>
        <div class="ui-g-4 ui-sm-12">
          <input class="form-input" type="text" placeholder="Phone Number" />
        </div>
      </div>
      <div class="ui-md-8 ui-md-offset-2 ui-sm-12">
        <div class="ui-g-12">
          <textarea
            class="form-text-area"
            placeholder="Message in brief"
          ></textarea>
        </div>
      </div>
      <div class="ui-md-8 ui-md-offset-2 ui-sm-12 align-center">
        <button class="btn btn-info btn-curved">Submit</button>
      </div>
    </div>
  </form>
</div>
