.container {
  background: url("/assets/images/Layer19.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 485px;
  background-color: #000;
  align-content: center;
  justify-content: center;
  color: #fff;
}
.form-input {
  // width: 257px;
  width: 100%;
  height: 40px;
}
.form-text-area {
  min-height: 110px;
  width: 100%;
}
.contact-form-header {
  text-align: center;
}

.contact-form ::-webkit-input-placeholder {
  color: #9d918e;
  padding: 10px;
}

.contact-form :-ms-input-placeholder {
  color: #9d918e;
  padding: 10px;
}

.contact-form ::placeholder {
  color: #9d918e;
  padding: 10px;
}
