body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1366px;
	 height: 2405px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Layer27 
{ 
	 left: 0px; 
	 top: 2px; 
	 position: absolute; 
	 width: 1366px;
	 height: 2403px;
	 z-index:1;
} 

 #Layer1 
{ 
	 left: 0px; 
	 top: 70px; 
	 position: absolute; 
	 width: 1366px;
	 height: 698px;
	 z-index:2;
} 

 #RoundedRectangle9cop 
{ 
	 left: 388px; 
	 top: 316px; 
	 position: absolute; 
	 width: 590px;
	 height: 183px;
	 z-index:3;
} 

 #Integerbibendumsitam 
{ 
	 left: 455px; 
	 top: 198px; 
	 position: absolute; 
	 width: 460px;
	 height: 79px;
	 z-index:4;
} 

 #staffingicon2 
{ 
	 left: 449px; 
	 top: 355px; 
	 position: absolute; 
	 width: 62px;
	 height: 62px;
	 z-index:5;
} 

 #ServiceName 
{ 
	 left: 428px; 
	 top: 436px; 
	 position: absolute; 
	 width: 103px;
	 height: 13px;
	 z-index:6;
} 

 #ServiceName_0 
{ 
	 left: 631px; 
	 top: 436px; 
	 position: absolute; 
	 width: 103px;
	 height: 13px;
	 z-index:7;
} 

 #ServiceName_1 
{ 
	 left: 837px; 
	 top: 436px; 
	 position: absolute; 
	 width: 103px;
	 height: 13px;
	 z-index:8;
} 

 #foldersanssettings12 
{ 
	 left: 850px; 
	 top: 357px; 
	 position: absolute; 
	 width: 72px;
	 height: 63px;
	 z-index:9;
} 

 #stockvectortechnical 
{ 
	 left: 652px; 
	 top: 355px; 
	 position: absolute; 
	 width: 64px;
	 height: 69px;
	 z-index:10;
} 

 #Layer26 
{ 
	 left: 682px; 
	 top: 847px; 
	 position: absolute; 
	 width: 600px;
	 height: 336px;
	 z-index:11;
} 

 #Inmaximuseuismodeges 
{ 
	 left: 84px; 
	 top: 975px; 
	 position: absolute; 
	 width: 581px;
	 height: 113px;
	 z-index:12;
} 

 #MaurisidbibendumestP 
{ 
	 left: 85px; 
	 top: 863px; 
	 position: absolute; 
	 width: 523px;
	 height: 90px;
	 z-index:13;
} 

 #Layer7 
{ 
	 left: 676px; 
	 top: 898px; 
	 position: absolute; 
	 width: 690px;
	 height: 327px;
	 z-index:14;
} 

 #logos 
{ 
	 left: 761px; 
	 top: 984px; 
	 position: absolute; 
	 width: 496px;
	 height: 136px;
	 z-index:15;
} 

 #Rectangle6 
{ 
	 left: 1px; 
	 top: 1262px; 
	 position: absolute; 
	 width: 1365px;
	 height: 561px;
	 z-index:16;
} 

 #Testimonials 
{ 
	 left: 598px; 
	 top: 1347px; 
	 position: absolute; 
	 width: 172px;
	 height: 23px;
	 z-index:17;
} 

 #RoundedRectangle2 
{ 
	 left: 80px; 
	 top: 1408px; 
	 position: absolute; 
	 width: 380px;
	 height: 217px;
	 z-index:18;
} 

 #Maurisatquamatmauris 
{ 
	 left: 125px; 
	 top: 1450px; 
	 position: absolute; 
	 width: 275px;
	 height: 114px;
	 z-index:19;
} 

 #layer_20 
{ 
	 left: 125px; 
	 top: 1443px; 
	 position: absolute; 
	 width: 25px;
	 height: 21px;
	 z-index:20;
} 

 #CLIENTNAMEPositionOR 
{ 
	 left: 154px; 
	 top: 1640px; 
	 position: absolute; 
	 width: 118px;
	 height: 36px;
	 z-index:21;
} 

 #Layer17 
{ 
	 left: 82px; 
	 top: 1629px; 
	 position: absolute; 
	 width: 62px;
	 height: 63px;
	 z-index:22;
} 

 #RoundedRectangle2_0 
{ 
	 left: 493px; 
	 top: 1408px; 
	 position: absolute; 
	 width: 380px;
	 height: 267px;
	 z-index:23;
} 

 #Nuncutipsumiaculisdi 
{ 
	 left: 538px; 
	 top: 1449px; 
	 position: absolute; 
	 width: 291px;
	 height: 135px;
	 z-index:24;
} 

 #layer_25 
{ 
	 left: 538px; 
	 top: 1443px; 
	 position: absolute; 
	 width: 25px;
	 height: 21px;
	 z-index:25;
} 

 #CLIENTNAMEPositionOR_0 
{ 
	 left: 569px; 
	 top: 1690px; 
	 position: absolute; 
	 width: 118px;
	 height: 36px;
	 z-index:26;
} 

 #Layer17copy 
{ 
	 left: 497px; 
	 top: 1679px; 
	 position: absolute; 
	 width: 62px;
	 height: 63px;
	 z-index:27;
} 

 #RoundedRectangle2_1 
{ 
	 left: 907px; 
	 top: 1408px; 
	 position: absolute; 
	 width: 380px;
	 height: 244px;
	 z-index:28;
} 

 #MaurisidbibendumestP_0 
{ 
	 left: 952px; 
	 top: 1449px; 
	 position: absolute; 
	 width: 261px;
	 height: 115px;
	 z-index:29;
} 

 #layer_30 
{ 
	 left: 952px; 
	 top: 1443px; 
	 position: absolute; 
	 width: 25px;
	 height: 21px;
	 z-index:30;
} 

 #CLIENTNAMEPositionOR_1 
{ 
	 left: 983px; 
	 top: 1668px; 
	 position: absolute; 
	 width: 118px;
	 height: 36px;
	 z-index:31;
} 

 #Layer17copy2 
{ 
	 left: 911px; 
	 top: 1653px; 
	 position: absolute; 
	 width: 62px;
	 height: 63px;
	 z-index:32;
} 

 #Shape8copy2 
{ 
	 left: 1313px; 
	 top: 1496px; 
	 position: absolute; 
	 width: 37px;
	 height: 37px;
	 z-index:33;
} 

 #Shape8copy3 
{ 
	 left: 17px; 
	 top: 1496px; 
	 position: absolute; 
	 width: 37px;
	 height: 37px;
	 z-index:34;
} 

 #Layer8 
{ 
	 left: 0px; 
	 top: 1822px; 
	 position: absolute; 
	 width: 1366px;
	 height: 485px;
	 z-index:35;
} 

 #Layer19 
{ 
	 left: 0px; 
	 top: 1822px; 
	 position: absolute; 
	 width: 1366px;
	 height: 558px;
	 z-index:36;
} 

 #ConvincedToWorkWithU 
{ 
	 left: 491px; 
	 top: 1907px; 
	 position: absolute; 
	 width: 385px;
	 height: 23px;
	 z-index:37;
} 

 #Companyhashelpedagen 
{ 
	 left: 329px; 
	 top: 1947px; 
	 position: absolute; 
	 width: 707px;
	 height: 20px;
	 z-index:38;
} 

 #RoundedRectangle4 
{ 
	 left: 281px; 
	 top: 2004px; 
	 position: absolute; 
	 width: 257px;
	 height: 40px;
	 z-index:39;
} 

 #RoundedRectangle4cop 
{ 
	 left: 555px; 
	 top: 2004px; 
	 position: absolute; 
	 width: 257px;
	 height: 40px;
	 z-index:40;
} 

 #RoundedRectangle4cop_0 
{ 
	 left: 828px; 
	 top: 2004px; 
	 position: absolute; 
	 width: 257px;
	 height: 40px;
	 z-index:41;
} 

 #RoundedRectangle4cop_1 
{ 
	 left: 281px; 
	 top: 2059px; 
	 position: absolute; 
	 width: 804px;
	 height: 110px;
	 z-index:42;
} 

 #Fullname 
{ 
	 left: 293px; 
	 top: 2018px; 
	 position: absolute; 
	 width: 60px;
	 height: 12px;
	 z-index:43;
} 

 #Messageinbrief 
{ 
	 left: 293px; 
	 top: 2074px; 
	 position: absolute; 
	 width: 111px;
	 height: 15px;
	 z-index:44;
} 

 #EmailAddress 
{ 
	 left: 567px; 
	 top: 2018px; 
	 position: absolute; 
	 width: 94px;
	 height: 12px;
	 z-index:45;
} 

 #PhoneNumber 
{ 
	 left: 840px; 
	 top: 2018px; 
	 position: absolute; 
	 width: 100px;
	 height: 12px;
	 z-index:46;
} 

 #RoundedRectangle6 
{ 
	 left: 609px; 
	 top: 2186px; 
	 position: absolute; 
	 width: 120px;
	 height: 41px;
	 z-index:47;
} 

 #Submit 
{ 
	 left: 637px; 
	 top: 2200px; 
	 position: absolute; 
	 width: 54px;
	 height: 13px;
	 z-index:48;
} 

 #Rectangle7 
{ 
	 left: 0px; 
	 top: 2304px; 
	 position: absolute; 
	 width: 1366px;
	 height: 101px;
	 z-index:49;
} 

 #Followuson 
{ 
	 left: 1097px; 
	 top: 2346px; 
	 position: absolute; 
	 width: 88px;
	 height: 12px;
	 z-index:50;
} 

 #a2017CompanyAllRights 
{ 
	 left: 84px; 
	 top: 2345px; 
	 position: absolute; 
	 width: 263px;
	 height: 15px;
	 z-index:51;
} 

 #Shape4 
{ 
	 left: 1191px; 
	 top: 2345px; 
	 position: absolute; 
	 width: 17px;
	 height: 17px;
	 z-index:52;
} 

 #Shape5 
{ 
	 left: 1240px; 
	 top: 2347px; 
	 position: absolute; 
	 width: 17px;
	 height: 12px;
	 z-index:53;
} 

 #Shape6 
{ 
	 left: 1217px; 
	 top: 2345px; 
	 position: absolute; 
	 width: 17px;
	 height: 17px;
	 z-index:54;
} 

 #Shape7 
{ 
	 left: 1266px; 
	 top: 2348px; 
	 position: absolute; 
	 width: 17px;
	 height: 11px;
	 z-index:55;
} 

 #Layer1_0 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1366px;
	 height: 70px;
	 z-index:56;
} 

 #COMPANYLOGO 
{ 
	 left: 88px; 
	 top: 28px; 
	 position: absolute; 
	 width: 128px;
	 height: 13px;
	 z-index:57;
} 

 #Axelerant 
{ 
	 left: 106px; 
	 top: 26px; 
	 position: absolute; 
	 width: 90px;
	 height: 17px;
	 z-index:58;
} 

 #X 
{ 
	 left: 82px; 
	 top: 7px; 
	 position: absolute; 
	 width: 26px;
	 height: 47px;
	 z-index:59;
} 

 #About 
{ 
	 left: 733px; 
	 top: 28px; 
	 position: absolute; 
	 width: 47px;
	 height: 14px;
	 z-index:60;
} 

 #Services 
{ 
	 left: 828px; 
	 top: 29px; 
	 position: absolute; 
	 width: 62px;
	 height: 13px;
	 z-index:61;
} 

 #Solutions 
{ 
	 left: 938px; 
	 top: 28px; 
	 position: absolute; 
	 width: 71px;
	 height: 14px;
	 z-index:62;
} 

 #Blog 
{ 
	 left: 1058px; 
	 top: 28px; 
	 position: absolute; 
	 width: 32px;
	 height: 17px;
	 z-index:63;
} 

 #Btn 
{ 
	 left: 1122px; 
	 top: 19px; 
	 position: absolute; 
	 width: 161px;
	 height: 32px;
	 z-index:64;
} 

 #GetInTouch 
{ 
	 left: 1164px; 
	 top: 27px; 
	 position: absolute; 
	 width: 98px;
	 height: 14px;
	 z-index:65;
} 

 #Icon 
{ 
	 left: 1141px; 
	 top: 28px; 
	 position: absolute; 
	 width: 18px;
	 height: 18px;
	 z-index:66;
} 

 #Rectangle8 
{ 
	 left: 718px; 
	 top: 67px; 
	 position: absolute; 
	 width: 140px;
	 height: 6px;
	 z-index:67;
} 

 #Rectangle9 
{ 
	 left: 718px; 
	 top: 72px; 
	 position: absolute; 
	 width: 140px;
	 height: 170px;
	 z-index:68;
} 

 #OurStoryWhyCompanySu 
{ 
	 left: 728px; 
	 top: 86px; 
	 position: absolute; 
	 width: 103px;
	 height: 138px;
	 z-index:69;
} 

 #Rectangle2copy 
{ 
	 left: 684px; 
	 top: 67px; 
	 position: absolute; 
	 width: 170px;
	 height: 5px;
	 z-index:70;
} 

 #Rectangle2 
{ 
	 left: 684px; 
	 top: 72px; 
	 position: absolute; 
	 width: 170px;
	 height: 125px;
	 z-index:71;
} 

 #Rectangle3 
{ 
	 left: 684px; 
	 top: 72px; 
	 position: absolute; 
	 width: 170px;
	 height: 40px;
	 z-index:72;
} 

 #StaffingDeliverySupp 
{ 
	 left: 694px; 
	 top: 86px; 
	 position: absolute; 
	 width: 138px;
	 height: 98px;
	 z-index:73;
} 

 #Rectangle2copy_0 
{ 
	 left: 858px; 
	 top: 70px; 
	 position: absolute; 
	 width: 185px;
	 height: 5px;
	 z-index:74;
} 

 #Rectangle2_0 
{ 
	 left: 858px; 
	 top: 75px; 
	 position: absolute; 
	 width: 185px;
	 height: 175px;
	 z-index:75;
} 

 #Rectangle3_0 
{ 
	 left: 858px; 
	 top: 75px; 
	 position: absolute; 
	 width: 185px;
	 height: 40px;
	 z-index:76;
} 

 #CMSSolutionsDevOpsMa 
{ 
	 left: 868px; 
	 top: 89px; 
	 position: absolute; 
	 width: 122px;
	 height: 140px;
	 z-index:77;
} 
