<app-header></app-header>
<app-jumbotron></app-jumbotron>
<div id="background">
  <!-- <div id="Layer27"><img src="assets/images/Layer27.png" /></div> -->
  <!-- <div id="Layer1"><img src="assets/images/Layer1.png" /></div> -->
  <!-- <div id="RoundedRectangle9cop">
    <img src="assets/images/RoundedRectangle9cop.png" />
  </div>
  <div id="Integerbibendumsitam">
    <img src="assets/images/Integerbibendumsitam.png" />
  </div>
  <div id="staffingicon2"><img src="assets/images/staffingicon2.png" /></div>
  <div id="ServiceName"><img src="assets/images/ServiceName.png" /></div>
  <div id="ServiceName_0"><img src="assets/images/ServiceName_0.png" /></div>
  <div id="ServiceName_1"><img src="assets/images/ServiceName_1.png" /></div> -->
  <!-- <div id="foldersanssettings12">
    <img src="assets/images/foldersanssettings12.png" />
  </div> -->
  <!-- <div id="stockvectortechnical">
    <img src="assets/images/stockvectortechnical.png" />
  </div> -->
  <div id="Layer26"><img src="assets/images/Layer26.png" /></div>
  <div id="Inmaximuseuismodeges">
    <img src="assets/images/Inmaximuseuismodeges.png" />
  </div>
  <div id="MaurisidbibendumestP">
    <img src="assets/images/MaurisidbibendumestP.png" />
  </div>
  <div id="Layer7"><img src="assets/images/Layer7.png" /></div>
  <div id="logos"><img src="assets/images/logos.png" /></div>
  <div id="Rectangle6"><img src="assets/images/Rectangle6.png" /></div>
  <div id="Testimonials"><img src="assets/images/Testimonials.png" /></div>
  <div id="RoundedRectangle2">
    <img src="assets/images/RoundedRectangle2.png" />
  </div>
  <div id="Maurisatquamatmauris">
    <img src="assets/images/Maurisatquamatmauris.png" />
  </div>
  <div id="layer_20"><img src="assets/images/layer_20.png" /></div>
  <div id="CLIENTNAMEPositionOR">
    <img src="assets/images/CLIENTNAMEPositionOR.png" />
  </div>
  <div id="Layer17"><img src="assets/images/Layer17.png" /></div>
  <div id="RoundedRectangle2_0">
    <img src="assets/images/RoundedRectangle2_0.png" />
  </div>
  <div id="Nuncutipsumiaculisdi">
    <img src="assets/images/Nuncutipsumiaculisdi.png" />
  </div>
  <div id="layer_25"><img src="assets/images/layer_25.png" /></div>
  <div id="CLIENTNAMEPositionOR_0">
    <img src="assets/images/CLIENTNAMEPositionOR_0.png" />
  </div>
  <div id="Layer17copy"><img src="assets/images/Layer17copy.png" /></div>
  <div id="RoundedRectangle2_1">
    <img src="assets/images/RoundedRectangle2_1.png" />
  </div>
  <div id="MaurisidbibendumestP_0">
    <img src="assets/images/MaurisidbibendumestP_0.png" />
  </div>
  <div id="layer_30"><img src="assets/images/layer_30.png" /></div>
  <div id="CLIENTNAMEPositionOR_1">
    <img src="assets/images/CLIENTNAMEPositionOR_1.png" />
  </div>
  <div id="Layer17copy2"><img src="assets/images/Layer17copy2.png" /></div>
  <div id="Shape8copy2"><img src="assets/images/Shape8copy2.png" /></div>
  <div id="Shape8copy3"><img src="assets/images/Shape8copy3.png" /></div>
  <div id="Layer8"><img src="assets/images/Layer8.png" /></div>
  <div id="Layer19"><img src="assets/images/Layer19.png" /></div>
  <div id="ConvincedToWorkWithU">
    <img src="assets/images/ConvincedToWorkWithU.png" />
  </div>
  <div id="Companyhashelpedagen">
    <img src="assets/images/Companyhashelpedagen.png" />
  </div>
  <div id="RoundedRectangle4">
    <img src="assets/images/RoundedRectangle4.png" />
  </div>
  <div id="RoundedRectangle4cop">
    <img src="assets/images/RoundedRectangle4cop.png" />
  </div>
  <div id="RoundedRectangle4cop_0">
    <img src="assets/images/RoundedRectangle4cop_0.png" />
  </div>
  <div id="RoundedRectangle4cop_1">
    <img src="assets/images/RoundedRectangle4cop_1.png" />
  </div>
  <div id="Fullname"><img src="assets/images/Fullname.png" /></div>
  <div id="Messageinbrief"><img src="assets/images/Messageinbrief.png" /></div>
  <div id="EmailAddress"><img src="assets/images/EmailAddress.png" /></div>
  <div id="PhoneNumber"><img src="assets/images/PhoneNumber.png" /></div>
  <div id="RoundedRectangle6">
    <img src="assets/images/RoundedRectangle6.png" />
  </div>
  <div id="Submit"><img src="assets/images/Submit.png" /></div>
  <div id="Rectangle7"><img src="assets/images/Rectangle7.png" /></div>
  <div id="Followuson"><img src="assets/images/Followuson.png" /></div>
  <div id="2017CompanyAllRights">
    <img src="assets/images/2017CompanyAllRights.png" />
  </div>
  <div id="Shape4"><img src="assets/images/Shape4.png" /></div>
  <div id="Shape5"><img src="assets/images/Shape5.png" /></div>
  <div id="Shape6"><img src="assets/images/Shape6.png" /></div>
  <div id="Shape7"><img src="assets/images/Shape7.png" /></div>
  <!-- <div id="Layer1_0"><img src="assets/images/Layer1_0.png" /></div>
  <div id="COMPANYLOGO"><img src="assets/images/COMPANYLOGO.png" /></div>
  <div id="Axelerant"><img src="assets/images/Axelerant.png" /></div>
  <div id="X"><img src="assets/images/X.png" /></div>
  <div id="About"><img src="assets/images/About.png" /></div>
  <div id="Services"><img src="assets/images/Services.png" /></div>
  <div id="Solutions"><img src="assets/images/Solutions.png" /></div>
  <div id="Blog"><img src="assets/images/Blog.png" /></div>
  <div id="Btn"><img src="assets/images/Btn.png" /></div>
  <div id="GetInTouch"><img src="assets/images/GetInTouch.png" /></div> -->
  <div id="Icon"><img src="assets/images/Icon.png" /></div>
  <div id="Rectangle8"><img src="assets/images/Rectangle8.png" /></div>
  <div id="Rectangle9"><img src="assets/images/Rectangle9.png" /></div>
  <div id="OurStoryWhyCompanySu">
    <img src="assets/images/OurStoryWhyCompanySu.png" />
  </div>
  <div id="Rectangle2copy"><img src="assets/images/Rectangle2copy.png" /></div>
  <div id="Rectangle2"><img src="assets/images/Rectangle2.png" /></div>
  <div id="Rectangle3"><img src="assets/images/Rectangle3.png" /></div>
  <div id="StaffingDeliverySupp">
    <img src="assets/images/StaffingDeliverySupp.png" />
  </div>
  <div id="Rectangle2copy_0">
    <img src="assets/images/Rectangle2copy_0.png" />
  </div>
  <div id="Rectangle2_0"><img src="assets/images/Rectangle2_0.png" /></div>
  <div id="Rectangle3_0"><img src="assets/images/Rectangle3_0.png" /></div>
  <div id="CMSSolutionsDevOpsMa">
    <img src="assets/images/CMSSolutionsDevOpsMa.png" />
  </div>
</div>
<router-outlet></router-outlet>
