<div class="container ui-g">
  <div class="ui-g-12 align-center"><span>Dummy</span></div>
  <div class="ui-g-12 align-center">
    <div class="ui-g-2 jumbotron-item">
      <img src="/assets/images/staffingicon2.png" alt="staffing icon" />
    </div>
    <div class="ui-g-2 jumbotron-item">
      <img src="/assets/images/stockvectortechnical.png" alt="staffing icon" />
    </div>
    <div class="ui-g-2 jumbotron-item">
      <img src="/assets/images/foldersanssettings12.png" alt="staffing icon" />
    </div>
  </div>
</div>
