.container {
  background: url("/assets/images/Layer1.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 698px;
  background-color: #000;
}
