.container {
  background-color: #f7f7f7;
}
.testimonial-card {
  width: 325px;
  height: 210px;
  background-repeat: no-repeat;
  border-radius: 25px;
  background-image: url("/assets/images/RoundedRectangle2.png");
}
