<div class="container">
  <img src="/assets/images/Shape8copy3.png" alt="" />
  <img src="/assets/images/Shape8copy2.png" alt="" />
  <div class="ui-g">
    <div class="ui-g-12"><span>Testimonials</span></div>
  </div>
  <div class="ui-g">
    <div class="ui-g-10">
      <div class="ui-g-4">
        <div class="testimonial-item">
          <div class="testimonial-card">
            <img src="/assets/images/layer_20.png" />
            <span class="testimonial-text">dummy</span>
          </div>
          <img src="/assets/images/Layer17.png" />
          CLIENT NAME Position, ORG
        </div>
      </div>
      <div class="ui-g-4">
        <div class="testimonial-item">
          <div class="testimonial-card">
            <img src="/assets/images/layer_20.png" />
            <span class="testimonial-text">dummy</span>
          </div>
          <img src="/assets/images/Layer17.png" />
          CLIENT NAME Position, ORG
        </div>
      </div>
      <div class="ui-g-4">
        <div class="testimonial-item">
          <div class="testimonial-card">
            <img src="/assets/images/layer_20.png" />
            <span class="testimonial-text">dummy</span>
          </div>
          <img src="/assets/images/Layer17.png" />
          CLIENT NAME Position, ORG
        </div>
      </div>
    </div>
  </div>
</div>
