<div class="container header">
  <div class="ui-g">
    <div class="ui-g-12 align-center">
      <span class="header-text">Testimonials</span>
    </div>
  </div>
  <div class="ui-g align-center">
    <div class="ui-g-1">
      <button class="btn">
        <img src="/assets/images/Shape8copy3.png" alt="" />
      </button>
    </div>
    <div class="ui-g-10">
      <div class="ui-g-4">
        <div class="testimonial-item">
          <div class="testimonial-card">
            <img src="/assets/images/layer_20.png" />
            <span class="testimonial-text">
              Mauris id bibendum est. Proin dapibus sollicitudin iaculis.
              Ma</span
            >
          </div>
          <div class="client-details">
            <img src="/assets/images/Layer17.png" />
            <div class="client-details-text">
              <div>CLIENT NAME</div>
              <div>Position, ORG</div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g-4">
        <div class="testimonial-item">
          <div class="testimonial-card">
            <img src="/assets/images/layer_20.png" />
            <span class="testimonial-text">dummy</span>
          </div>
          <div class="client-details">
            <img src="/assets/images/Layer17.png" />
            <div class="client-details-text">
              <div>CLIENT NAME</div>
              <div>Position, ORG</div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g-4">
        <div class="testimonial-item">
          <div class="testimonial-card">
            <img src="/assets/images/layer_20.png" />
            <span class="testimonial-text">dummy</span>
          </div>
          <div class="client-details">
            <img src="/assets/images/Layer17.png" />
            <div class="client-details-text">
              <div>CLIENT NAME</div>
              <div>Position, ORG</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g-1">
      <button class="btn">
        <img src="/assets/images/Shape8copy2.png" alt="" />
      </button>
    </div>
  </div>
</div>
