<div class="ui-g nav">
  <div class="ui-g-6">
    <div>
      <label class="nav-item">
        <span>COMPANY </span>
        <span class="logo-color-red">LOGO</span>
      </label>
    </div>
  </div>
  <div class="ui-g-6">
    <div class="ui-g-2"><span class="nav-item">About</span></div>
    <div class="ui-g-2">
      <div class="dropdown">
        <span class="nav-item">Services</span>
        <div class="dropdown-content">
          <a href="#">Staffing</a>
          <a href="#">Delivery Support</a>
          <a href="#">Project Management</a>
          <a href="#">Careers</a>
        </div>
      </div>
    </div>
    <div class="ui-g-2">
      <div class="dropdown">
        <span class="nav-item">Solutions</span>
        <div class="dropdown-content">
          <a href="#">CMS Solutions</a>
          <a href="#">DevOps</a>
          <a href="#">Marketing </a>
          <a href="#">Quality Assurance</a>
        </div>
      </div>
    </div>
    <div class="ui-g-2"><span class="nav-item">Blog</span></div>
    <div class="ui-g-4">
      <button class="btn btn-info btn-curved">
        <img src="assets/images/Icon.png" alt="" /> Get in Touch
      </button>
    </div>
  </div>
</div>
